<div class="ui card">
	<h1 class="heading"><%=@song.name%></h1>
	<h2 class="heading"><%=@artist.name%></h2>
	<br/>
	<h3 class="heading"><%=@song.genre%></h3>
	<h3 class="heading"><%=@song.year%></h3>
	<h3 class="heading"><%=@song.length%></h3>
</div>