<!DOCTYPE html>
<html>
  <head>
    <title>MusicBillboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ui container">
		<%= link_to 'Billboards', billboards_path, class: "ui button basic"%>
		<%= link_to 'Artists', artists_path, class: "ui button basic" %>
    <%= yield %>
  </body>
</html>
